.header {
    background-color: seagreen;
}

.header .col-md-3 ul li {
    display: inline;
    /* float: right; */
}

.links ul li {
    display: inline;
}

.links ul li a {
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    color: aliceblue;
}

.content>h2 {
    text-align: center;
}

.contact input {
    display: block;
    width: 400px;
}